.board td {
	width: 30px;
	height: 30px;
	text-align: center;
	transition: 0.5s;
	border: 1px solid black;
}

.board td:hover {
	background-color: #74c69d;
}

.occupied {
	background-color: #ffccd5;
}

#display {
	width: 100%;
	font-size: 30px;
}

.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	background-color: #a8dadc;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttons {
	margin-top: 5px;
}

table {
	margin: 0 auto;
	margin-top: 20px;
}

body {
	background-color: #fff0f3;
}

h1 {
	margin: 0;
}
